# Python / Django
**/venv/
**/__pycache__/
**/*.pyc
**/db.sqlite3
**/backend/django/media/lidar/

# Node / frontend
**/node_modules/
**/dist/
**/.env

# Docker
**/backend/django/*.pyc
**/backend/django/__pycache__/
